body {
    background-color: #181818;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    background-color: #151515;
    border: 2px solid #252525;
    border-radius: 8px;
    /* width: 80%; */
}

#optionsBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 604px;
}

.btn {
    background-color: #252525;
    border: 2px solid #252525;
    border-radius: 8px;
    color: #ddd;
    width: calc(50% - 0.5rem);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: left;
}

.btn:hover {
    border: 2px solid #14594d;
}

.userInput {
    background-color: #151515;
    border: 2px solid #252525;
    border-radius: 8px;
    color: #ddd;
    width: 0px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

label {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

input {
    font-size: 14px;
    font-weight: 700;
}

#lblDensity, #lblGridSize, #lblSpeed {
    border: none;
    color: #454545;
    margin: 0.5rem;
    width: calc(100px);
}

#inputDensity, #inputGridSize, #inputSpeed {    
    border: 2px solid #151515;
    background-color: #151515;
    color: #ddd;
    width: 90%;
    margin: 0.1rem 0.1rem;
}

#inputGridSize:hover, #inputDensity:hover, #inputSpeed:hover {
    border: 2px solid #14594d;
    border-radius: 8px;
}

#inputGridSize:focus, #inputDensity:focus, #inputSpeed:focus {
    outline: none !important;
    border: 2px solid #14594d;
    border-radius: 8px;
}
